@import "../../../../build/scss/src/variables";

.button {
  border: none;
  font-size: $font-size-sm;
  line-height: $line-height-tight;
  border-radius: $radius-size-none;
  padding: $spacing-squish-size-xs-v $spacing-squish-size-xs-h;

  font-family: $font-family-highlight;
  font-weight: $font-weight-medium;
  color: $neutral-color-1;
  background-color: $brand-color-primary-3;
  transition: all ease 0.2s;
  cursor: pointer;
  width: 160px;
  display: block;

  &:hover {
    background-color: $brand-color-primary-5;
  }
}
