@import "../../../build/scss/src/variables";
@import "../../shared/scss/responsive";

.card-content {
  max-width: 360px;
  width: 100%;
  text-align: left;
  height: 400px;
  .heading {
    margin-bottom: $spacing-size-xxxs;
  }

  .subtitle {
    margin-bottom: $spacing-size-xxs;
  }

  .paragraph {
    margin-bottom: $spacing-size-sm;
  }
}
